<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let project of allProjects"  >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{project.title}}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
               {{project.description}} <br>
                <ion-button shape="round" [routerLink]="['/tabs/projects', project.id]">Detail</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  
  <div padding>
      <ion-button expand="Block" shape="round" routerLink="/tabs/projects/createnewproject" >Add New Project</ion-button> 
  </div>
</ion-content>
