<ion-header>

  <ion-toolbar>
      <ion-title>Create New Project</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content >
          <ion-row>
              <ion-item>
                  <ion-label floating primary>Titel</ion-label>
                  <ion-input [(ngModel)]="newProject.title" type="text" placeholder="Titel eingeben">
                  </ion-input>
              </ion-item>
              </ion-row>
              <ion-row>
              <ion-item>
                  <ion-label floating primary>Beschreibung</ion-label>
                  <ion-input [(ngModel)]="newProject.description" type="text" placeholder="Beschreibung eingeben" >
                  </ion-input>
              </ion-item>
              </ion-row>
              <ion-row>
              <ion-item>
                  <ion-label floating primary>Priorität</ion-label>
                  <ion-select [(ngModel)]="newProject.priority" >
                      <ion-select-option value=1>tief</ion-select-option>
                      <ion-select-option value=2>mittel</ion-select-option>
                      <ion-select-option value=3>hoch</ion-select-option>
                  </ion-select>
              </ion-item>
              </ion-row>
          <div padding>
                <ion-button (click)="addProject()">Add New Project</ion-button>
              </div>
      
</ion-content>